# ideally, a developer should add the following line to their own `~/.gitignore_global`
.idea
.vscode
.vs
.tox
*__pycache__
*egg-info
*.charm
venv
build
dist/
*.orig
report
.coverage
juju-crashdump*

