name: Test Suite

on:
  - pull_request

jobs:
  call-inclusive-naming-check:
    name: Inclusive naming
    uses: canonical-web-and-design/Inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "true"

  unit:
    name: Unit Tests & Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install Dependencies
      run: |
        pip install tox
    - name: Run unit tests
      run: tox -e unit
    - name: Run lint
      run: tox -e lint
    - name: Run static analysis
      run: tox -e static-plugin,static-unit

  integration-test:
    name: Integration test with LXD
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Setup operator test environment
      uses: charmed-kubernetes/actions-operator@main
    - name: Run integration tests
      run: tox -e integration
