name: Test Suite

on:
  - pull_request

jobs:
  call-inclusive-naming-check:
    name: Inclusive naming
    uses: canonical-web-and-design/Inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "true"

  lint-unit:
    name: Lint Unit
    uses: charmed-kubernetes/workflows/.github/workflows/lint-unit.yaml@main
    with:
      python: "['3.8', '3.9', '3.10', '3.11']"
    needs:
      - call-inclusive-naming-check

  integration-test:
    name: Integration test with LXD
    runs-on: ubuntu-22.04
    timeout-minutes: 40
    strategy:
      matrix:
        juju: ['2.9', '3.0']
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Setup operator test environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        juju-channel: ${{ matrix.juju }}/stable
    - name: Run integration tests
      run: tox -e integration
