name: Test Suite

on:
  - pull_request

jobs:
  call-inclusive-naming-check:
    name: Inclusive naming
    uses: canonical/inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "true"

  lint-unit:
    name: Lint Unit
    uses: charmed-kubernetes/workflows/.github/workflows/lint-unit.yaml@main
    with:
      python: "['3.8', '3.9', '3.10', '3.11', '3.12']"
    needs:
      - call-inclusive-naming-check

  integration-test-2-9:
    name: Integration test with juju
    runs-on: ubuntu-22.04
    timeout-minutes: 40
    strategy:
      matrix:
        juju: ['2.9']
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Setup operator test environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        charm-channel: 3.x/stable
        juju-channel: ${{ matrix.juju }}/stable

    - name: Run integration tests
      run: tox -e integration-2.9

    - name: Collect Charmcraft Logs
      if: ${{ failure() }}
      run: |
        mkdir -p tmp/
        mv $HOME/.local/state/charmcraft/log/* tmp/ | true
        shopt -s globstar
        cp ${GITHUB_WORKSPACE}/.tox/integration*/tmp/*.charm tmp/ | true

    - name: Upload debug artifacts
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: test-run-artifacts-${{ matrix.juju }}
        path: tmp

  integration-test:
    name: Integration test with juju
    runs-on: ubuntu-${{ matrix.ubuntu }}
    timeout-minutes: 40
    strategy:
      matrix:
        ubuntu: ['20.04', '22.04', '24.04']
        juju: ['3.1', '3']
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Setup operator test environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        charm-channel: 3.x/stable
        juju-channel: ${{ matrix.juju }}/stable

    - name: Run integration tests
      run: tox -e integration

    - name: Collect Charmcraft Logs
      if: ${{ failure() }}
      run: |
        mkdir -p tmp/
        mv $HOME/.local/state/charmcraft/log/* tmp/ | true
        shopt -s globstar
        cp ${GITHUB_WORKSPACE}/.tox/integration*/tmp/**/*.charm tmp/ | true

    - name: Upload debug artifacts
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: test-run-artifacts-${{ matrix.juju }}
        path: tmp
